.materialIconSmall {
    height: 28px;
    width: 28px;
    font-size: 9.24px;
    position: relative;
    margin: auto;
}

.materialIconBig {
    height: 48px;
    width: 48px;
    font-size: 15.84px;
    position: relative;
    margin: auto;
}

.materialTicker {
    font-weight: bold;
    text-align: center;
}

.materialInner {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agriculturalProducts {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(92, 18, 18), rgb(117, 43, 43)) repeat scroll 0% 0%;
    color: rgb(219, 145, 145);
}

.alloys {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(77, 77, 77), rgb(102, 102, 102)) repeat scroll 0% 0%;
    color: rgb(204, 204, 204);
}

.chemicals {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(183, 46, 91), rgb(208, 71, 116)) repeat scroll 0% 0%;
    color: rgb(255, 173, 218);
}

.constructionMaterials {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(24, 91, 211), rgb(49, 116, 236)) repeat scroll 0% 0%;
    color: rgb(151, 218, 255);
}

.constructionParts {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(35, 30, 68), rgb(60, 55, 93)) repeat scroll 0% 0%;
    color: rgb(162, 157, 195);
}

.constructionPrefabs {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79)) repeat scroll 0% 0%;
    color: rgb(181, 181, 181);
}

.consumablesBasic {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
    color: rgb(200, 212, 224);
}

.consumablesLuxury {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40)) repeat scroll 0% 0%;
    color: rgb(136, 142, 142);
}

.drones {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208)) repeat scroll 0% 0%;
    color: rgb(218, 173, 255);
}

.electronicDevices {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(86, 20, 147), rgb(111, 45, 172)) repeat scroll 0% 0%;
    color: rgb(213, 147, 255);
}

.electronicParts {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(92, 30, 122), rgb(117, 55, 147)) repeat scroll 0% 0%;
    color: rgb(219, 157, 249);
}

.electronicPieces {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
    color: rgb(200, 212, 224);
}

.electronicSystems {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(49, 24, 7), rgb(74, 49, 32)) repeat scroll 0% 0%;
    color: rgb(176, 151, 134);
}

.elements {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208)) repeat scroll 0% 0%;
    color: rgb(218, 173, 255);
}

.energySystems {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(51, 24, 216), rgb(76, 49, 241)) repeat scroll 0% 0%;
    color: rgb(178, 151, 255);
}

.fuels {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(30, 123, 30), rgb(55, 148, 55)) repeat scroll 0% 0%;
    color: rgb(157, 250, 157);
}

.gases {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112)) repeat scroll 0% 0%;
    color: rgb(194, 204, 214);
}

.liquids {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48)) repeat scroll 0% 0%;
    color: rgb(207, 168, 150);
}

.medicalEquipment {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40)) repeat scroll 0% 0%;
    color: rgb(136, 142, 142);
}

.metals {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(16, 92, 87), rgb(41, 117, 112)) repeat scroll 0% 0%;
    color: rgb(143, 219, 214);
}

.minerals {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
    color: rgb(200, 212, 224);
}

.ores {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(57, 95, 96), rgb(82, 120, 121)) repeat scroll 0% 0%;
    color: rgb(184, 222, 223);
}

.plastics {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187)) repeat scroll 0% 0%;
    color: rgb(153, 187, 255);
}

.shipEngines {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(14, 57, 14), rgb(39, 82, 39)) repeat scroll 0% 0%;
    color: rgb(141, 184, 141);
}

.shipKits {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(29, 36, 16), rgb(54, 61, 41)) repeat scroll 0% 0%;
    color: rgb(156, 163, 143);
}

.shipParts {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173)) repeat scroll 0% 0%;
    color: rgb(186, 172, 255);
}

.shipShields {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(132, 82, 34), rgb(157, 107, 59)) repeat scroll 0% 0%;
    color: rgb(255, 209, 161);
}

.softwareComponents {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112)) repeat scroll 0% 0%;
    color: rgb(194, 204, 214);
}

.softwareSystems {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187)) repeat scroll 0% 0%;
    color: rgb(153, 187, 255);
}

.softwareTools {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(6, 6, 29), rgb(31, 31, 54)) repeat scroll 0% 0%;
    color: rgb(133, 133, 156);
}

.textiles {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48)) repeat scroll 0% 0%;
    color: rgb(207, 168, 150);
}

.unitPrefabs {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173)) repeat scroll 0% 0%;
    color: rgb(186, 172, 255);
}

.utility {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79)) repeat scroll 0% 0%;
    color: rgb(181, 181, 181);
}