.production-list {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.inventory_item {
	margin-right: 0.5em;
	border-radius: 5px;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 48px;
	height: 48px;
	position: relative;
}
.inventory_amount {
	font-size: 80%;
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 1.5em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.05em 0.2em;
	color: white;
}
.inventory_ticker {
	font-size: 110%;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.building-at {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 48px;
	padding-right: 0.5em;
}
.production_time {
	vertical-align: center;
	line-height: 1.2rem;
}


.agricultural_products {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(92, 18, 18), rgb(117, 43, 43)) repeat scroll 0% 0%;
	color: rgb(219, 145, 145);
}
.alloys {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(77, 77, 77), rgb(102, 102, 102)) repeat scroll 0% 0%;
	color: rgb(204, 204, 204);
}
.chemicals {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(183, 46, 91), rgb(208, 71, 116)) repeat scroll 0% 0%;
	color: rgb(255, 173, 218);
}
.construction_materials {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(24, 91, 211), rgb(49, 116, 236)) repeat scroll 0% 0%;
	color: rgb(151, 218, 255);
}
.construction_parts {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(35, 30, 68), rgb(60, 55, 93)) repeat scroll 0% 0%;
	color: rgb(162, 157, 195);
}
.construction_prefabs {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79)) repeat scroll 0% 0%;
	color: rgb(181, 181, 181);
}
.consumables_basic {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
	color: rgb(200, 212, 224);
}
.consumables_luxury {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40)) repeat scroll 0% 0%;
	color: rgb(136, 142, 142);
}
.drones {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208)) repeat scroll 0% 0%;
	color: rgb(218, 173, 255);
}
.electronic_devices {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(86, 20, 147), rgb(111, 45, 172)) repeat scroll 0% 0%;
	color: rgb(213, 147, 255);
}
.electronic_parts {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(92, 30, 122), rgb(117, 55, 147)) repeat scroll 0% 0%;
	color: rgb(219, 157, 249);
}
.electronic_pieces {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
	color: rgb(200, 212, 224);
}
.electronic_systems {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(49, 24, 7), rgb(74, 49, 32)) repeat scroll 0% 0%;
	color: rgb(176, 151, 134);
}
.elements {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(91, 46, 183), rgb(116, 71, 208)) repeat scroll 0% 0%;
	color: rgb(218, 173, 255);
}
.energy_systems {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(51, 24, 216), rgb(76, 49, 241)) repeat scroll 0% 0%;
	color: rgb(178, 151, 255);
}
.fuels {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(30, 123, 30), rgb(55, 148, 55)) repeat scroll 0% 0%;
	color: rgb(157, 250, 157);
}
.gases {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112)) repeat scroll 0% 0%;
	color: rgb(194, 204, 214);
}
.liquids {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48)) repeat scroll 0% 0%;
	color: rgb(207, 168, 150);
}
.medical_equipment {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(9, 15, 15), rgb(34, 40, 40)) repeat scroll 0% 0%;
	color: rgb(136, 142, 142);
}
.metals {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(16, 92, 87), rgb(41, 117, 112)) repeat scroll 0% 0%;
	color: rgb(143, 219, 214);
}
.minerals {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(73, 85, 97), rgb(98, 110, 122)) repeat scroll 0% 0%;
	color: rgb(200, 212, 224);
}
.ores {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(57, 95, 96), rgb(82, 120, 121)) repeat scroll 0% 0%;
	color: rgb(184, 222, 223);
}
.plastics {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187)) repeat scroll 0% 0%;
	color: rgb(153, 187, 255);
}
.ship_engines {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(14, 57, 14), rgb(39, 82, 39)) repeat scroll 0% 0%;
	color: rgb(141, 184, 141);
}
.ship_kits {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(29, 36, 16), rgb(54, 61, 41)) repeat scroll 0% 0%;
	color: rgb(156, 163, 143);
}
.ship_parts {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173)) repeat scroll 0% 0%;
	color: rgb(186, 172, 255);
}
.ship_shields {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(132, 82, 34), rgb(157, 107, 59)) repeat scroll 0% 0%;
	color: rgb(255, 209, 161);
}
.software_components {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(67, 77, 87), rgb(92, 102, 112)) repeat scroll 0% 0%;
	color: rgb(194, 204, 214);
}
.software_systems {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(26, 60, 162), rgb(51, 85, 187)) repeat scroll 0% 0%;
	color: rgb(153, 187, 255);
}
.software_tools {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(6, 6, 29), rgb(31, 31, 54)) repeat scroll 0% 0%;
	color: rgb(133, 133, 156);
}
.textiles {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(80, 41, 23), rgb(105, 66, 48)) repeat scroll 0% 0%;
	color: rgb(207, 168, 150);
}
.unit_prefabs {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(59, 45, 148), rgb(84, 70, 173)) repeat scroll 0% 0%;
	color: rgb(186, 172, 255);
}
.utility {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79)) repeat scroll 0% 0%;
	color: rgb(181, 181, 181);
}

.building {
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(54, 54, 54), rgb(79, 79, 79)) repeat scroll 0% 0%;
	color: rgb(65, 153, 173);
}

.time {
	background: #222;
	color: #999;
	border: 1px solid black;
}
