﻿@page "/burn"

@using AntDesign
@using System.Text
@using FIOWeb.Models
@using FIOWeb.JsonPayloads
@using Newtonsoft.Json
@using CurrieTechnologies.Razor.Clipboard

@inject NavigationManager NavManager
@inject GlobalAppState GlobalAppState
@inject ClipboardService Clipboard
@inject IMatToaster Toaster

@implements IDisposable

@if ( GlobalAppState.State == LoadState.Loading || GlobalAppState.State == LoadState.Authenticating)
{
<p><em>Loading...</em></p>
<Spin Size="large" />
}
@if (GlobalAppState.State == LoadState.NotAuthenticated)
{
<p><em>Not Authenticated.</em></p>
}
@if (GlobalAppState.State == LoadState.Authenticated)
{
    @if ( BurnModels == null && !CannotSeeUsersData )
    {
<p><em>Retrieving Data...</em></p>
<Spin Size="large" />
    }
    else if (BurnModels == null && CannotSeeUsersData )
    {
<h1>Unable to View Specified Users Data</h1>
    }
    else
    {
<h1>Burn - @ActiveUserName</h1>
<MatIconButton Style="outline:0" Icon="refresh" OnClick="@(() => { _ = Refresh(); })"></MatIconButton>

<Drawer Visible="@UserDrawerVisible" Placement="right" Title='("Select User")' OnClose="@(() => { UserDrawerVisible = false; })">
    <Select @bind-Value="@SelectedUser" TItemValue="string" TItem="string" OnSelectedItemChanged="UserSelectionChanged">
        <SelectOptions>
            @foreach(var user in UsersAllowedToView)
            {
            <SelectOption TItemValue="string" TItem="string" Value="@user" Label="@user" />
            }
        </SelectOptions>
    </Select>
</Drawer>
<MatIconButton Style="outline:0" Icon="account_circle" OnClick="@(() => { UserDrawerVisible = true; })"></MatIconButton>
<br/>
<RadioGroup @bind-Value="DisplayMode" Size="small">
    <Radio RadioButton Value="@("ShowAll")">All</Radio>
    <Radio RadioButton Value="@("ShowOnlyWorkforce")">Workforce Only</Radio>
    <Radio RadioButton Value="@("ShowOnlyProduction")">Orders Only</Radio>
</RadioGroup>

bool ShouldShowUserNames = (ActiveUserName == null);

<Table DataSource="BurnModels"
       TreeChildren="item => item.Children"
       PageSize="50"
       Size=@TableSize.Small
       TItem="BurnModel"
       Bordered="true">
    <Column Width="250" TData="string" Title="Planet" Sortable="false">
        @if (ShouldShowUserNames && !String.IsNullOrEmpty(context.PlanetDisplayName))
        {
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                <div>
                @{string OnPlanet = string.Join("<br/>", BurnModels.Where(bm => bm.PlanetNaturalId == context.PlanetNaturalId).SelectMany(bm => bm.AllPlanetUsers).Distinct().ToList());}
                @((MarkupString)OnPlanet)
                </div>
            </ContentTemplate>
            <ChildContent>
                @context.PlanetDisplayName
            </ChildContent>
        </Popover>
        }
        else
        {
        @context.PlanetDisplayName
        }
    </Column>
    <Column Width="75" TData="string" title="Material" Sortable="false">
        @context.MaterialTicker
    </Column>
    <Column Width="75" TData="string" title="Burn" Sortable="false">
        @if (context.Parent != null)
        {
        string UserWorkforceConsumptions = "<b>Workforce Consumption:</b><br/>" + string.Join("<br/>", context.UserWorkforceConsumptions);
        string UserOrderConsumptions = "<b>Order Consumption:</b><br/>" + string.Join("<br/>", context.UserOrderConsumptions);

        string AllUsersBurnStr = "";
        @if (context.UserWorkforceConsumptions.Count > 0)
        {
            AllUsersBurnStr += UserWorkforceConsumptions + "<br/>";
        }
        @if (context.UserOrderConsumptions.Count > 0)
        {
            AllUsersBurnStr += UserOrderConsumptions;
        }

        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                <div>
                @((MarkupString)AllUsersBurnStr)
                </div>
            </ContentTemplate>
            <ChildContent>
                @context.BurnStr
            </ChildContent>
        </Popover>
        }
    </Column>
@if (DisplayMode != "ShowOnlyWorkforce")
{
    <Column Width="75" TData="string" title="Production" Sortable="false">
        @if (context.Parent != null)
        {
        string AllUserOrderProductions = string.Join("<br/>", context.UserOrderProductions);
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                <div>
                @((MarkupString)AllUserOrderProductions)
                </div>
            </ContentTemplate>
            <ChildContent>
                @context.ProduceStr
            </ChildContent>
        </Popover>
        }
    </Column>
}
    <Column Width="75" TData="string" title="Overall" Sortable="false">
        @context.OverallStr
    </Column>
    <Column Width="75" TData="string" title="Units Available" Sortable="false">
        @if (context.Parent != null)
        {
        string AllUserUnitsAvailable = string.Join("<br/>", context.UserMaterialAmounts);
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                <div>
                @((MarkupString)AllUserUnitsAvailable)
                </div>
            </ContentTemplate>
            <ChildContent>
                @context.UnitsAvailStr
            </ChildContent>
        </Popover>
        }
    </Column>
    <Column Width="75" TData="string" title="Days Until Exhaustion" Sortable="false">
        @context.DaysUntilExhaustionStr
    </Column>
@if (!ShouldShowUserNames)
{
    <Column @bind-Field="@context.LastUpdate" Title="" Sortable="false">
        @{
            string Reason;
            if (context.LastUpdate == null)
            {
                Reason = "Data was never retrieved for your workforce/storage. Open up a <code>BS</code> buffer and navigate to this base.";
            }
            else
            {
                Reason = (context.LastUpdateCause == "WORKFORCE") ? "Workforce" : "Storage";
                Reason += $" data was last updated <b>{((DateTime)(context.LastUpdate)).ToLocalTime()}</b>.<br />";
                Reason += "Open up a <code>BS</code> buffer and navigate to this base.";
            }
        }
        @if (context.LastUpdate != null)
        {
            DateTime LastUpdateTime = (DateTime)context.LastUpdate;
        @if ( LastUpdateTime.ToLocalTime() < DateTime.Now.AddDays(-7.0) && LastUpdateTime.ToLocalTime() > DateTime.Now.AddDays(-30.0) )
        {
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                @((MarkupString)Reason)
            </ContentTemplate>
            <ChildContent>
                <MatIcon style="transform:scale(0.75)" Icon="info" />
            </ChildContent>
        </Popover>
        }
        else if ( context.LastUpdate <= DateTime.UtcNow.AddDays(-30.0) )
        {
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                @((MarkupString)Reason)
            </ContentTemplate>
            <ChildContent>
                <MatIcon style="transform:scale(0.75)" Icon="warning" />
            </ChildContent>
        </Popover>
        }
        else if ( context.PlanetConsumptionTime != null )
        {
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                The time indicated is estimated consumption time.<br />
                If you do not leave your game logged in with FIOExtension running, it may be old/invalid.<br />
                <br />
            </ContentTemplate>
            <ChildContent>
                <span>Consumption: @(((DateTime)context.PlanetConsumptionTime).ToLocalTime().ToString("t"))</span>
                <MatIcon style="transform:scale(0.75)" Icon="info" />
            </ChildContent>
        </Popover>
        }
        else if ( context.Children.Count > 0 )
        {
        <Popover Placement="@Placement.RightTop" Title="">
            <ContentTemplate>
                <p>
                    If you leave APEX logged in with the FIOExtension present, eventually it will receive<br />
                    a <em>WORKFORCES_WORKFORCE_UPDATED</em> event. Once this happens, FIO tracks it as your<br />
                    consumption time.
                </p>
            </ContentTemplate>
            <ChildContent>
                <span>Consumption: Unknown</span>
                <MatIcon style="transform:scale(0.75)" Icon="info" />
            </ChildContent>
        </Popover>
        }
        }

    </Column>
}
else
{
    <Column TData="string" Title="" Sortable="false"/>
}
</Table>
    }
}
