@using System.Linq
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http
@inject GlobalAppState GlobalAppState
@inject NavigationManager NavManager
@inject IMatToaster Toaster
@inject IJSRuntime JSRuntime
@implements IDisposable
@page "/map"

<h1>Universe Map</h1>


@if (Loading)
{
    <p>Loading... @LoadingProgress</p>
    <Spin/>
}
else
{
<div class="flex-container" style="display: flex; flex-flow: row wrap; justify-content: flex-start; margin-bottom:10px">
    <div id="threejscontainer" style="width: 500px; height: 500px"></div>
    @if (PlanetDescriptions == null)
    {
        <p style="margin-left: 30px">Loading Results</p>
        <Spin style="margin-left: 30px"/>
    }
    else 
    {
        <div style="min-height: 200px; margin-right:10px; width: fit-content; flex-grow: 0; flex-shrink: 0">
        <MatTable Items="@PlanetDescriptions" class="mat-elevation-z5" ShowPaging="true" @bind-PageSize="PlanetDescriptionsPageSize" UseSortHeaderRow="false" Striped="true" Style="font-size:11px; margin-left: 30px">
            <MatTableHeader>
                <th Style="font-size:12px">Planet</th>
                <th Style="font-size:12px">Tier1?</th>
                <th Style="font-size:12px">Fertility</th>
                <th Style="font-size:12px">Resource</th>
                <th Style="font-size:12px">Type</th>
                <th Style="font-size:12px"><span style="display:inline-block">Daily Extraction</span></th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Planet</td>
                <td>@context.IsTier1</td>
                <td>@context.FertilityDisplay</td>
                <td>@context.Resource</td>
                <td>@context.Type</td>
                <td>@context.DailyExractionDisplay</td>
            </MatTableRow>
        </MatTable>
    </div>
    }
</div>
}